

@model Book
@{
    ViewData["Title"] = "Edit";
}


<div class="container">
    <div class="row my-5">
        <span class="text-danger">@ViewBag.Message</span>
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-description">
                        Book
                    </p>
                    <form asp-controller="Book" asp-action="Edit" class="forms-sample" method="post">
                        <div class="form-group"


                            <label for="exampleInputUsername1">Name</label>
                            <input maxlength="" minlength="" type="text" class="form-control" asp-for="Name">
                            <span class="text-danger" asp-validation-for="Name"></span>


                            <label for="exampleInputUsername1">Description</label>
                            <input type="text" class="form-control" asp-for="Description">
                            <span class="text-danger" asp-validation-for="Description"></span>

                            <label asp-for="TagIds">Tag</label>
                            <select asp-for="TagIds"  class="form-control" asp-items="new SelectList((List<Tag>)ViewBag.Tags,nameof(Tag.Id),nameof(Tag.Name))"></select>
                            <span class="text-danger" asp-validation-for="TagIds"></span>

                        </div>

                        <button type="submit" class="btn btn-primary me-2">Edit</button>
                        <a asp-controller="Book" asp-action="Index" class="btn btn-light">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationPartial" />
}